html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    user-select: none;
    color: #333333
}
a, a:link, a:visited, a:active {
    color: #0275d8;
    text-decoration: none;
} 
a:hover{
    color: #0275d8;
    text-decoration: underline;
}
.headContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}
.bodyContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}
.bottomContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}
.title {
    font-size: 40px;
    font-weight: 500;
}
.subtitle {
    font-size: 25px;
}
